/* CSS determines the look and positioning of the elements structrued by HTML*/
html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
}

#card-container {
  display: flex;
  overflow-x: auto;     /* Allows horizontal scrolling within card-container so that title doesn't move out of view */
  padding: 20px;
}

.card {
  width: 300px;
  flex-shrink: 0;       /* Prevents cards from squeezing to fit page */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;         /* Spaces the cards (nice asthetic) */
  background-color: white;
}

/* Neighborhood Title */
.card-content {
  padding: 10px;
  font-family: "Verdana", sans-serif;
  color: #555;
  text-align: center;
}

/* Neighborhood Image */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

/* Overarching structure for stats */
.card-content ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

/* Underlying structure for stats */
.card-content li {
  margin: 10px;
}

/* Made changes in footer to act more as a nav bar rather than a static element */
.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: fixed;                          /* Fixes position at bottom */
  bottom: 0;
  width: 100%;
  z-index: 10;                              /* Ensures bottom bar is always on the page */
  height: 60px;
  box-sizing: border-box;
}

button {
  text-align: center;
  background-color: #555;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #777;
}

.card.template-card {
  display: none;
}
